nav{
	background: linear-gradient(to bottom,rgb(0 0 0 / 20%) 0,rgb(255 255 0 / 0) 100%);
}

nav img{
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .8));
}

nav ul li a{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
}

.brand-logo img{
	height: 60px;
}

.slider{
	top: -70px;
}

.slider .caption{
	top: 40% !important;
}

.caption h3,
.caption h5{
	text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}

.about{
	margin-bottom: 50px;
}

section{
	padding-bottom: 35px;
}

.card-image img {
	height: 210px;
}

.card-image span{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

.parallax-container{
	height: 20%;
}

.parallax img{
	filter: grayscale(1);
	opacity: .5 !important;
}

.sponsor h3{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

.sponsor img{
	max-width: 150px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .8));
	padding-top: 30px;
}

.contact{
	padding-top: 35px;
	background-color: rgb(9, 20, 38);
	border-bottom: 2px solid rgb(17, 36, 67);
}

.search{
	background-color: rgb(17, 36, 67);
}

footer{
	padding: 5px 5px;
	font-style: italic;
	background-color: rgb(9, 20, 38);
}